C C-1-1-4913 ServusTV HD Oesterreich
E 41911 1360792245 6208 4E 0
T Fallen Angels - Gefallene Engel
D Spielfilm, Hong Kong, 1995, R: Wong Kar-Wai, D: Karen Mok, Charlie Yeung, Takeshi Kaneshiro, Michelle Reis, Leon Lai|Der melancholische Profi-Killer Wong (Leon Lai) ist berufsmüde. Doch als er aussteigen will, wird er selbst zum Opfer seiner Agentin (Michelle Reis). Weil er ihre Liebe nicht erwidert, bestellt sie seine Todesanzeige. Währenddessen verliebt sich der stumme Dieb He Qiwu (Kaneshiro Takeshi) unglücklich in die eifersüchtige Charlie Young. Atemberaubender und meisterhaft erzählter Streifzug durch die kalte Neonwelt des nächtlichen Hongkong
X 5 0B deu Video
X 2 03 deu stereo deutsch
X 2 03 eng stereo englisch
X 2 03 deu Dolby Digital 5.1 
X 4 7A deu Dolby Digital Plus 5.1
e
E 41912 1360798453 3140 4E 0
T Terra Mater
S Mat und die Affenbande
D Dokumentation, Großbritannien, 2012|Über fünf Jahre hat der Biologe Mat Pines die wilden Paviane im äthiopischen Awash Nationalpark studiert. Mat musste einige schmerzhafte Prüfungen bestehen, doch inzwischen akzeptieren ihn die Menschenaffen als Familienmitglied. Aber jetzt gerät er mitten in einen tödlichen Konfikt - zwischen den bis an die Zähne bewaffneten Bauern und den Pavianen, die deren Felder plündern.
X 5 0B deu Video
X 2 03 deu stereo deutsch
X 2 03 eng stereo englisch
X 2 03 deu Dolby Digital 5.1 
X 4 7A deu Dolby Digital Plus 5.1
e
E 41913 1360801593 3310 50 14
T Der Schlüssel zum Universum
D Dokumentation, USA, 2007|Autor Timothy Ferris stellte sich für die visuell höchst ansprechende Verfilmung seines Buches "Seeing in the Dark" ein hochkarätiges Team zusammen. Mit beeindruckenden, realitätsnahen Bildern erhält der Zuschauer Einblick in die Schönheit und Faszination der Sternbeobachtung. Eine Reise ins Universum mit Protagonisten, deren Hobby die Leidenschaft für unseren Ursprung ist.
X 5 0B deu Video
X 2 03 deu stereo deutsch
X 2 03 eng stereo englisch
X 2 03 deu Dolby Digital 5.1 
X 4 7A deu Dolby Digital Plus 5.1
e
E 41914 1360804903 1560 50 14
T Lichtspiele
S Das Filmmagazin auf ServusTV
D Magazin, Österreich, 2013, M: Miriam Hie|"Lichtspiele" kommt dieses Mal aus Berlin. Moderatorin Miriam Hie hat sich auf der 63. Berlinale umgeschaut und spannende Geschichten gefunden. Filmexperte Frank Hoffmann stellt dazu Berlin als Filmschauplatz vor und gibt einen historischen Überblick. Neu im Kino: Yippie Ya Yeah Schweinebacke! Bruce Willis kann es nicht lassen, und stirbt zum fünften Mal langsam. Ob "Ein guter Tag zum Sterben" auch Kultpotential hat?
X 5 0B deu Video
X 2 03 deu stereo deutsch
X 2 03 eng stereo englisch
X 2 03 deu Dolby Digital 5.1 
X 4 7A deu Dolby Digital Plus 5.1
e
E 41915 1360806463 5545 50 14
T Fallen Angels - Gefallene Engel
D Spielfilm, Hong Kong, 1995, R: Wong Kar-Wai, D: Karen Mok, Charlie Yeung, Takeshi Kaneshiro, Michelle Reis, Leon Lai|Der melancholische Profi-Killer Wong (Leon Lai) ist berufsmüde. Doch als er aussteigen will, wird er selbst zum Opfer seiner Agentin (Michelle Reis). Weil er ihre Liebe nicht erwidert, bestellt sie seine Todesanzeige. Währenddessen verliebt sich der stumme Dieb He Qiwu (Kaneshiro Takeshi) unglücklich in die eifersüchtige Charlie Young. Atemberaubender und meisterhaft erzählter Streifzug durch die kalte Neonwelt des nächtlichen Hongkong
X 5 0B deu Video
X 2 03 deu stereo deutsch
X 2 03 eng stereo englisch
X 2 03 deu Dolby Digital 5.1 
X 4 7A deu Dolby Digital Plus 5.1
e
E 41916 1360812008 5992 50 14
T Vogelfrei
S Bilder aus dem Servus-Raum
D Nachtprogramm, Österreich, 2013|Österreich und seine Nachbarländer in noch nie gesehenen Bildern.
X 5 0B deu Video
X 2 03 deu stereo deutsch
X 2 03 eng stereo englisch
X 2 03 deu Dolby Digital 5.1 
X 4 7A deu Dolby Digital Plus 5.1
e
E 41917 1360818000 1327 50 14
T Servus Journal
S Aktuelles vom Tag aus dem Servus-Raum
D Nachrichten, Österreich, 2013, M: Katrin Prähauser|* Papst feiert letzte Messe * Krisentreffen: EU berät über Pferdefleisch-Skandal * Transparenz-Gesetzt: Streit über zweckgebundene Steuern * Debatte über Selbstbehalt für Koma-Trinker * Holzpreise explodieren * Auftakt für die Fastenzeit * Marlies Schild tritt zur Titelverteidigung an
X 5 0B deu Video
X 2 03 deu stereo deutsch
X 2 03 eng stereo englisch
X 2 03 deu Dolby Digital 5.1 
X 4 7A deu Dolby Digital Plus 5.1
e
E 41918 1360819327 140 50 14
T Kalenderblatt
D Informationen, Österreich, 2013|Wir zeigen die Emotionen und präsentieren Menschen und Mächte aus vergangenen Dekaden. Historische Beiträge der Austria Wochenschau beschreiben in Bildern und Tönen den Zeitgeist des Österreichs von damals und bieten Einblicke in das Bild und die Identität der 2. Republik. Das Kalenderblatt - von Montag bis Freitag bei ServusTV.
X 5 0B deu Video
X 2 03 deu stereo deutsch
X 2 03 eng stereo englisch
X 2 03 deu Dolby Digital 5.1 
X 4 7A deu Dolby Digital Plus 5.1
e
